:root {
    --fondoPagina: #181818;
    --colorLetra: #ffffff;
    --colorTituloExtra: #453891;
    --tamañoLetra: 1rem;
}


* {

    margin: 0px;
    padding: 0px;
}


body {

    font-family: arial;
    background-color: var(--fondoPagina);
    color: var(--colorLetra);
    font-size: var(--tamañoLetra);
    
}




.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;


}

.bienvenida_contenedor {
    display: grid;
    margin: 20px 0px 0px 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    height: 100vh;
    z-index: 1;

}

.nav_contenedor_row {
    display: grid;
    grid-row: 1;
    padding: 0px;
    margin: 0px;



}

.bienvenida_contenedor_row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-row: 2;
    grid-column: 2/11;
    margin:90px 0px 300px 0px;
   

}


.bienvenida_contenedor_col1 {
    padding: 0px 0px 0px 0px;
    grid-column: 3/7;

}


.bienvenida_contenedor_col2 {
    display: flex;
    padding: 25px;
    justify-content: center;
    grid-column: 7/13;

}



.bienvenida_contenedor p {
    padding: 12px 0px 0px 0px;

}

.texto_bienvenida p {
    font-style: italic;
    color: rgb(167, 163, 163);

}




#f_perfil {
    opacity: 100%;
    width: 180px;
    height: 180px;
    border-radius: 120px;
    padding: 20px;
    box-shadow: 18px -12px 0px 2px rgba(68, 68, 68, 0.075);
    background-image: url(./imagenes/foto_perfil.jpg);
    background-size: cover;
    border: 0px;
    margin-top: 30px;

}



#titulo_resaltar_an {
    animation: 2s infinite alternate efectoLinea;
    color: var(--colorTituloExtra);
}

#titulo_resaltar {
    color: var(--colorTituloExtra);
}



.nav_contenedor_row {
    display: grid;
    grid-column: 4/11;
    font-size: 18px;
    margin-bottom: 50px;

}

.nav_principal {
    display: flex;
    list-style: none;

}

.nav_principal li {
    margin-left: 20px;

}

.link_select {


    color: var(--colorTituloExtra);
    font-weight: bolder;
}

.nav_principal .link_unselect:hover {

    transition: 0.4s;
    animation: mover 2s forwards;
}

.contenedor_botones {
    grid-row: 2;
    grid-column: 1/3;
}

.botones_link {

    padding: 15px;
    margin: 30px 20px 10px 0px;
    color: var(--colorLetra);
    background-color: var(--colorTituloExtra);
    border: 0px;
    border-radius: 10px;
    width: 130px;
}


.contenedor_proyecto {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row: 3;
    grid-column: 1/13;
    background-color: #19191a;
    z-index: 2;
}

.contenedor_proyecto_row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    grid-column: 2/12;
    margin-top: 20px;
    color: rgb(255, 255, 255);

}



.contenedor_proyecto_col1 img{
    height: 100%;
    width: 100%;
}

.contenedor_proyecto_col2 img{
    height: 100%;
    width: 100%;
}

.contenedor_proyecto_col3 img{
    height: 100%;
    width: 100%;
}


.contenedor_proyecto_col2{
    grid-area: 1 / 2 / 4 / 4; /*FILA/COL/FILA/COL*/
    background-color: rgba(59, 29, 190, 0.247);
    padding: 10px;
}


.contenedor_proyecto_col3{
    grid-area: 4 / 2 / 8 / 4;
    background-color: rgba(190, 88, 29, 0.247);
    padding: 10px;

}


.contenedor_proyecto_col1 {
    grid-area: 1 / 4 / 8 / 8; 
    background-color: rgba(85, 82, 82, 0.253);
    width: 100%;
    padding: 10px;

}


.contenedor_proyecto_col1:hover{
   opacity: 0.9;
    transition: 0.5s;
}



.contenedor_proyecto_col2:hover{
    opacity: 0.9;
     transition: 0.5s;
 }
 

 

.contenedor_proyecto_col3:hover{
    opacity: 0.9;
     transition: 0.5s;
 }
 
 




@keyframes efectoLinea {

    0% {

        color: rgb(204, 199, 199);
        transform-origin: bottom left;
        /* Cambia el origen de la transformación */
    }

}


@media (max-width:400px) {



    .nav_principal li {


        font-size: 18px;

    }
}

@media (max-width:500) {
    .contenedor_botones {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .contenedor_botones .botones_link {
        width: 300px;
    }
}

@media (max-width:1980px) {



    #f_perfil {

        display: flex;
        margin-top: 30px;
        width: 180px;
        height: 180px;
        align-items: center;
    }

    .bienvenida_contenedor_col1 {
        grid-column: 4/8;


    }

    .bienvenida_contenedor_col2 {
        grid-column: 8/13;


    }


}

@media (max-width:1080px) {

    
    .nav_contenedor_row {

        grid-column: 1/13;


    }

    .bienvenida_contenedor {
        margin: 0px;
    }


    .nav_contenedor_row {
        margin: 12px 0px 0px 0px;

    }

    #f_perfil {

        display: flex;
        margin-top: 30px;
        width: 180px;
        height: 180px;
        align-items: center;
    }

    .bienvenida_contenedor_col1 {
        grid-column: 2/13;
        grid-row: 2;


    }

    .bienvenida_contenedor_col2 {
        grid-column: 2/13;
        grid-row: 1;



    }

}

@media (max-width:1780px) {



    #f_perfil {

        display: flex;
        margin-top: 60px;
        width: 180px;
        height: 180px;
        align-items: center;
    }

    .contenedor_botones {
        display: grid;
        flex-direction: column;
        justify-content: center;
     
    }

  


}